# Configuration file

##########################################################################################################
# worldgen chances
#--------------------------------------------------------------------------------------------------------#
# The chance that each worldgen will generate. You can set this to 0 to disable the worldgen or use the dimension black/white list. 1 = all over, 0.04 fairly rare.
##########################################################################################################

"worldgen chances" {
    # Ooze only generates on the surface when in COLD and SNOWY tagged biomes.
    D:"Ooze Lakes Surface Chance"=0
    D:"Ooze Lakes Underground Chance"=0.06
}


"worldgen dimensions" {
    S:"Ooze Lakes Dimensions"= -100, -37, 0, 7
    B:"Ooze Lakes Dimensions Whitelist Mode"=true
}


