# Configuration file

bosses {
    B:"Glorious Temple Of pq2"=true
    B:"Huge Ship"=true
    B:"NPC Floating Village"=true
    B:"NPC Town"=true
    B:"Treasure Dungeon"=true
}


customization {
    B:"Cheat Mode"=false
    S:"Disabled Biome IDs"=9;40;41;42;43;44;45;46;47;48;49;50;51;52;53;54;55;56;57;58;59;60;61;62;63;64;65;66;67;68;69;70;71;72;73;74;75;76;77;78;79;80;81;82;83;84;85;86;87;88;89;90;91;92;93;94;95;96;97;98;99;100;101;102;103;104;105;106;107;108;109;110;111;112;113;114;115;116;117;118;119;120;121;122;123;124;125;126;127;128;135;136;137;138;139;141;142;143;144;145;146;161
    I:"The Height Of Floating Villages"=220
    I:"Treasure Dungeon Max Height"=50
    I:"Treasure Dungeon Single Floor Size"=5
}


rarities {
    I:"Rarity Of Bosses"=2750
    I:"Rarity Of Simple Dungeons"=1500
    I:"Rarity Of Treasure Dungeons"=1500
}


"simple dungeons" {
    B:Barn=true
    B:Creepercoloss=true
    B:"Desert Prison"=true
    B:"Floating Islands"=true
    B:"Forest Prison"=true
    B:Fort=true
    B:Graveyard=true
    B:Helpship=true
    B:"Ice Fort"=true
    B:Igloo=true
    B:"Mystery Dungeon"=true
    B:"Mystery Rooms"=true
    B:"Nether Prison"=true
    B:"Nether Temple"=true
    B:"Obsidian Tower"=true
    B:Pyramide=true
    B:"Small Ships"=true
    B:"Small Temple"=true
    B:"Spider Box"=true
    B:"Swamp Temple"=true
    B:"Temple Of Death"=true
    B:Treehouse=true
}


